.login{
background : #eceeee;
border:1 px solid #42464b;
height:257px;
margin: 20px auto 0;
width 298px;
}

#body{background-color:#6699cc;}

#loginbutton{
border-radius:10px;
width:100px;
height:40px;
background:#d4c6d3;
font-weight:bold;
font-size:20px;}

}
